body {
  background-color: #fff;
}

#header {
  display: flex;
  flex-direction: row-reverse;
}

h1, h2, h3, p {
  color: #d9d1ff;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
  margin-top: 15px;
}

.intro {
  font-size: 2.5em;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  padding: 25px;
}

#outcome {
  max-width: 66%;
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#outcome.active {
  min-height: 200px;
  border: 3px solid #d9d1ff;
  border-radius: 25px;
}

#outcome p {
  font-size: 1.5em;
  text-align: center;
  color: #6565d3;
}

.buttons {
  margin: 25px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.buttons button {
  padding: 10px 20px;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  color: #6565d3;
  background-color: #d9d1ff;
  border: 3px solid #b4a5ff;
  border-radius: 10px;
  min-height: 100px;
  max-width: 300px;
  flex-basis: 100%;
}

#restartButton, #newGame {
  padding: 10px 20px;
  background-color: #d9d1ff;
  color: #6565d3;
  font-size: 1.75em;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
}

.counterContainer {
  display: flex;
  justify-content: center;
}

.counterContainer p {
  margin-top: -5px;
  font-size: 1.5em;
  color: #d9d1ff;
}

#gameOverPopup.active{
  height: 100vh;
  width: 100vw;
  background-color: #6565d3;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gameOverPopup p {
  text-align: center;
  font-size: 4em;
  font-weight: bold;
}

.dot {height: 12px;
width: 12px;
background-color: #d9d1ff;
border-radius: 100%;
}

#themePanel {
  margin: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  float: right;
}

.colorSwatch {
  padding: 15px;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

#sherbert .leftSwatch {
  background-color: #ffd1c4;
  flex-basis: 100%;
  border-radius: 200px 0 0 200px;
}

#sherbert .rightSwatch {
  background-color: #ed3c3c;
  flex-basis: 100%;
  border-radius: 0 200px 200px 0;
}

#ocean .leftSwatch {
  background-color: #dbeeff;
  flex-basis: 100%;
  border-radius: 200px 0 0 200px;
}

#ocean .rightSwatch {
  background-color: #23a59f;
  flex-basis: 100%;
  border-radius: 0 200px 200px 0;
}

#light .leftSwatch {
  background-color: #fff;
  flex-basis: 100%;
  border-radius: 200px 0 0 200px;
}

#light .rightSwatch {
  background-color: #d9d1ff;
  flex-basis: 100%;
  border-radius: 0 200px 200px 0;
}

#dark .leftSwatch {
  background-color: #3c4f5f;
  flex-basis: 100%;
  border-radius: 200px 0 0 200px;
}

#dark .rightSwatch {
  background-color: #02172a;
  flex-basis: 100%;
  border-radius: 0 200px 200px 0;
}

@media screen and (max-width: 600px) {
  .buttons {
    flex-direction: column;
  }
  .buttons button {
    font-size: 3em;
    min-width: 66%;
  }
}